<nav>
    <div class="site-title">
        <a href="/"><h1>Group 4</h1></a>
        <p>Final Project</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/courses/create">New Course</a></li>
    </ul>
</nav>